<center>
<h1>SHORTEN. SHARE. MEASURE.</h1>
<%= form_for @shortened_url do |form| %>

  <% if @shortened_url.errors[:url].any? %>
    <p class='error-messages'>
      <font color= #B00000>
      The given url <%= @shortened_url.errors[:url].to_sentence %>.
      </font>
    </p>
  <% end %>

  <p>
    <%= form.label :url, "Your URL:" %>
    <%= form.text_field :url %>
  </p>

  <p class='buttons'>
    <%= form.submit "Shorten my URL" %>
  </p>

<% end %>
<center>