<!DOCTYPE html>
<html>
<head>
  <title>URL Shortener</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <script src="//cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.4.0/clipboard.min.js"></script>
  <style>
  	body{
		background-color: lightblue;
	}
  </style>
</head>
<body>

<%= yield %>

<% if flash[:shortened_id].present? %>
  <p class='shortened-link'>
  	<font color = #B67F13><b>
  		Original URL: <%= "#{flash[:original_url]}" =%>
  		</br>
	    Shortened URL: 
	    <input id="post-shortlink" value="<%= "#{request.host_with_port}" + "/urls/" +"#{flash[:shortened_id]}" =%>">
	    <button class="button" id="copy-button" data-clipboard-target="#post-shortlink">Copy</button>
	    </b>
	    <script>
	    	(function(){
			    new Clipboard('#copy-button');
			})();
	    </script>
    </font>
  </p>

<% end %>

</body>
</html>